<?xml version="1.0"?>
<assembly>
    <id>release</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveDependencies>true</useTransitiveDependencies>
        </dependencySet>
    </dependencySets>
    <files>
        <file>
            <source>src/main/resources/plugin-descriptor.properties</source>
            <outputDirectory>/</outputDirectory>
        </file>
        <file>
            <source>src/main/resources/plugin-security.policy</source>
            <outputDirectory>/</outputDirectory>
        </file>
    </files>
</assembly>
